agno
pycountry
duckduckgo-search
ollama
yfinance
phi
googlesearch-python
pytest
deepeval
transformers-interpret
shap
bertviz
transformers
torch
langchain
langchain-core
langchain-community
langchain-groq
streamlit
geopy
overpy
networkx
streamlit-js-eval=
folium
streamlit-folium
requests
polyline
numpy
certifi
